.background {
  background-color: #242F3E;
  
  width: 100vw;
  height: 95vh;
  padding-top: 5vh;
}

.background .whiteboard {
  width: 600px;
  height: 420px;
  background-color: #fff;
  margin: auto;
}

.background .whiteboard .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.background .whiteboard .top .controller {
  width: 315px;
  border: 1px solid #eee;
  height: 270px;
  position: relative;
}

.background .whiteboard .top .controller .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #eee;
}

.background .whiteboard .top .controller .forward {
  position: absolute;
  top: 30px;
  left: 120px;
}

.background .whiteboard .top .controller .backward {
  position: absolute;
  top: 180px;
  left: 120px;
}

.background .whiteboard .top .controller .right {
  position: absolute;
  top: 105px;
  left: 195px;
}

.background .whiteboard .top .controller .left {
  position: absolute;
  top: 105px;
  left: 45px;
}

.background .whiteboard .top .controller .stop {
  position: absolute;
  top: 105px;
  left: 120px;
  width: 60px;
  height: 60px;
}

.background .whiteboard .top .location {
  width: 285px;
  border: 1px solid #eee;
  height: 270px;
  position: relative;
}
.background .whiteboard .top .location .title {
  position: absolute;
  top: 30px;
  left: 15px;
  vertical-align: text-top;
  font-size:x-large;
}
.background .whiteboard .top .location .name {
  position: absolute;
  top: 71px;
  left: 15px;
  width: 247px;
  border-bottom:#242F3E 2px solid 
}
.background .whiteboard .top .location .odom_x {
  position: absolute;
  top: 105px;
  left: 15px;
  width: 240px;
  border-bottom:#242F3E 1px solid   
}
.background .whiteboard .top .location .odom_y {
  position: absolute;
  top: 135px;
  left: 15px;
  width: 240px;
  border-bottom:#242F3E 1px solid 
}
.background .whiteboard .top .location .odom_z {
  position: absolute;
  top: 165px;
  left: 15px;
  width: 240px;
  border-bottom:#242F3E 1px solid 
}
.background .whiteboard .top .location .odom_heading {
  position: absolute;
  top: 195px;
  left: 15px;
  width: 240px;
  border-bottom:#242F3E 1px solid 
}
.background .whiteboard .top .location .odom_value_x {
  position: absolute;
  top: 105px;
  left: 90px;
}
.background .whiteboard .top .location .odom_value_y {
  position: absolute;
  top: 135px;
  left: 90px;
}
.background .whiteboard .top .location .odom_value_z {
  position: absolute;
  top: 165px;
  left: 90px;
}
.background .whiteboard .top .location .odom_value_heading {
  position: absolute;
  top: 195px;
  left: 90px;
}

.background .whiteboard .bottom {
  width: 600px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.background .whiteboard .bottom .goal {
  width: 435px;
  height: 150px;
  position: relative;
}

.background .whiteboard .bottom .goal .title_goal {
  position: absolute;
  top: 10px;
  left: 15px;
  vertical-align: text-top;
  font-size:x-large;
}
.background .whiteboard .bottom .goal .goal_x {
  position: absolute;
  top: 45px;
  left: 15px;
  width: 285px;
  border-bottom:#242F3E 1px solid   
}
.background .whiteboard .bottom .goal .goal_y {
  position: absolute;
  top: 75px;
  left: 15px;
  width: 285px;
  border-bottom:#242F3E 1px solid 
}
.background .whiteboard .bottom .goal .goal_heading {
  position: absolute;
  top: 105px;
  left: 15px;
  width: 285px;
  border-bottom:#242F3E 1px solid 
}
.background .whiteboard .bottom .goal .goal_value_x {
  position: absolute;
  top: 44px;
  left: 90px;
}
.background .whiteboard .bottom .goal .goal_value_y {
  position: absolute;
  top: 74px;
  left: 90px;
}
.background .whiteboard .bottom .goal .goal_value_heading {
  position: absolute;
  top: 104px;
  left: 90px;
}

.background .whiteboard .bottom .goal .goal_button {
  position: absolute;
  top: 71px;
  left: 330px;
}

.background .whiteboard .bottom .save {
  width: 165px;
  height: 150px;
  position: relative;
}
.background .whiteboard .bottom .save .save_button {
  position: absolute;
  top: 71px;
  left: 30px;
}

.input_field {
  width: 202px;
  height: 15px;  
  font-size: 1em;
}

.action_button {
  width: 105px;
  height: 52px;
  font-size: 1.12em;
  color: #222;
  border-style:none;
  background-color:#eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 1px rgba(136,136,136,1);
}

.move_button {
font-size: 2.25em;
width:60px;
height:60px;
color: #222;
border-style:none;
background-color:#eee;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
box-shadow: 0 2px 1px rgba(136,136,136,1);
}

.button:focus {
	outline:0;
}

.button:active {
  box-shadow: 0 1px 0 rgba(136,136,136,1);
 }